{% load i18n static %}
<script type="text/ng-template" id="flagSection.html">
<section class="col-md-6 main-container">
    <div class="main-container-content" id="health-flags">
        <div class="app-health-flag-headline-section btn-group">
            <h3 class="headline-main-app-section" 
            
           {% if not request.user.is_manager %} 
            
            uib-popover="

            Health Flags are critical to team well-being.
            Set them to show your managers or scrum masters 
            what you want / need or if there's any bigger problem
            which when left unattended might impact team efficiency.

            " popover-title="Let manager know" popover-placement="left" popover-trigger="mouseenter"

            {% endif %}
            
            >
                <i class="fa fa-flag"></i> {% trans 'Health Flags' %}
            </h3>
            <span align="center" class="pull-right">
            <img src="{% static 'gifs/ajax-loader.gif' %}" data-ng-if="vm.initializing"/>
            </span>

            <div class="pull-right">
                {% if not user_id %}
                <button class="add-tag-btn"
                        data-ng-click="vm.editFlags()"
                        data-ng-if="!vm.edit && !vm.initializing">{% trans 'Modify' %}</button>
                <div data-ng-if="vm.edit">
                    <button class="btn btn-xs btn-success"
                            data-ng-disabled="someForm.$invalid"
                            data-ng-click="vm.saveFlags()"><i class="glyphicon glyphicon-ok"></i></button>
                    <button class="btn btn-xs btn-default"
                            data-ng-click="vm.edit = false"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="flag-container"
             data-ng-if="!vm.edit && !vm.initializing">
            <div class="flag-wrapper animated fadeIn" 
            {% if request.user.is_manager %} 
            style="cursor: pointer"
            {% endif %}
                 data-ng-repeat="flag in vm.userFlags"
                 data-ng-class="{'positive': vm.isPositive(flag),
                                 'negative': vm.isNegative(flag),
                                 'opportunity': vm.isOpportunity(flag)}"
                {% if request.user.is_manager %}
                data-ng-click="vm.showInfo(flag)
                {% endif %}
                ">

                <div>
                    <p class="flag-content" data-ng-bind="flag.name"></p>

                </div>
            </div>
        </div>
        <div class="tag-container-no-tag animated fadeIn" style="display: block;"
             data-ng-if="!vm.userFlags.length && !vm.edit && !vm.initializing">
            <i class="fa fa-flag fa-5x"></i>
            {% if not user_id %}
            <p class="no-tag-info">{% trans "You don't have any flags yet." %}
                <br>
                <a href="javascript:;"
                   data-ng-click="vm.editFlags()"
                   data-ng-if="!vm.edit && !vm.initializing"> Add flags!</a>
            </p>
            {% else %}
                <p class="no-tag-info">{% trans 'Empty' %}</p><br>
            {% endif %}
        </div>
     
        {% if not user_id %}
        <div data-ng-if="vm.edit">
        <div class="add-skill-bottom-div">
            <div class="add-skill-bottom-div-label">
            <i class="fa fa-circle text-success fs-11"/> ADD HEALTH FLAGS (MAX 4)
        <ui-select multiple
                   data-ng-model="vm.userFlags"
                   theme="bootstrap"
                   autofocus="true"
                   on-remove="vm.filterChoices($item, $model)"
                   on-select="vm.filterChoices($item, $model)"
                   title="{% trans 'Hit Enter.' %}">
            <ui-select-match data-placeholder="{% trans 'Hit enter..' %}">
                {% verbatim %}
                {{ $item.name }}
                {% endverbatim %}
            </ui-select-match>
            <ui-select-choices
                    data-repeat="choice in vm.getChoices()" data-group-by="'categoryName'">
                <div data-ng-bind-html="choice.name"></div>
            </ui-select-choices>
        </ui-select>

            <!-- <uib-alert type="info">{% trans 'You can set max 4 flags' %}</uib-alert> -->
            </div>
        <div class="row" align="center" data-ng-show="someForm.$invalid">{% trans 'Max 4 flags allowed' %}</div>
    </div>{% endif %}
</section>
</script>
