<script type="text/ng-template" id="">
    <section class="main-container col-md-6">
        <div class="main-container-content-peers">
            <div id="peer-matching-section">
                <div class="panel panel-complete">
                    <div class="peer-maching-container app-headline-section">
                        <h3 class="headline-main-app-section">
                            <i class="fa fa-refresh" style="cursor: pointer"
                               data-ng-click="vm.getPeers()" uib-tooltip="Refresh"></i> Peer matching
                        </h3>    
                        <span align="center" class="pull-right" data-ng-if="vm.init">
                            <img src="/static/gifs/ajax-loader.gif">
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 no-padding">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title"> <img src="/static/gifs/ajax-loader.gif"
                                                                                data-ng-if="vm.others[$index].loading">
                    </div>
                </div>
                <ul class="matches-list-section"
                    data-ng-if="!vm.init">
                    <li class="panel-body peer-match-profile-container "
                        data-ng-repeat="peer in vm.matches">
                        <div class="row peer-match-button-row animated fadeInUp">
                        <div class="peer-match-profile-section col-md-8" >
                            {% verbatim %}
                            <div wr-image="peer.user_2.image" width="50" height="50"
                                 alt></div>
                            <div class="peer-info">
                                <a href="{{ peer.url }}">
                                    <h4 class="peer-match-name m-l-10 m-b-5 text-left" data-ng-bind="peer.user_2.name"></h4>
                                </a>
                                <span class="peer-match-position" data-ng-bind="peer.user_2.position"></span>
                            {% endverbatim %}

                                <!--<p class=" text-left m-b-0 m-t-0">-->
                                <!--<i class="pg pg-bag1"></i>-->
                                <!--Frontend Developer-->
                                <!--</p>-->
                            </div>


                        </div>

                        <div class="peer-match-profile-section-details col-md-4">

                                {% verbatim %}
                                <div class="text-success inline p-l-20"><strong>{{ peer.score }}% </strong></div>
                            <div class="peer-match-profile-help-desc">{{ peer.reason.description }}</div>
                                {% endverbatim %}

                            <!--<p>Can help you with <b>AngularJS</b></p>-->
                        </div>
                        </div>

                        {% verbatim %}

                        <div class="row expand-label" data-ng-click="vm.showList($index)"
                             title="Show more">
                            <span class="btn btn-block btn-warning btn-xs"><i class="fa fa-arrow-down"></i> MORE</span>

                        </div>
                        {% endverbatim %}
                        {% verbatim %}
                        <div class="row">
                            <div class="col-md-12"
                                 uib-collapse="vm.others[$index].hidden">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-body no-padding" style="overflow-y: auto;"
                                         infinity-scroll data-height="300" data-on-end="vm.loadMore($index)">
                                        <ul class="matches-list-section">
                                            <li class="panel-body peer-match-profile-container no-padding"
                                                data-ng-repeat="peer in vm.others[$index].matches">
                                                <div class="row peer-match-button-row">
                                                <div class="peer-match-profile-section col-md-9" >
                                                    <img width="50" height="50"
                                                        src="{{ peer.user.avatar }}"
                                                         data-src-retina="{{ peer.user.avatar }}" alt="">
                                                    <div class="peer-info">
                                                        <a href="{{ peer.user.url }}">
                                                            <h5 class="peer-match-name m-l-10 m-b-5 text-left" data-ng-bind="peer.user.name"></h5>
                                                        </a>
                                                        <span class="peer-match-position" data-ng-bind="peer.user.position"></span>
                                                        <!--<p class=" text-left m-b-0 m-t-0">-->
                                                        <!--<i class="pg pg-bag1"></i>-->
                                                        <!--Frontend Developer-->
                                                        <!--</p>-->
                                                    </div>
                                                </div>
                                                <div class="peer-match-profile-section-details col-md-3">

                                                    <div class="text-success inline p-l-20">{{ peer.score }}%</div>
                                                    <div class="peer-match-profile-help-desc">{{ peer.reason.description }}</div>

                                                    <!--<p>Can help you with <b>AngularJS</b></p>-->
                                                </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </li>

                </ul>
            </div>
            </div>
        </div>
    </section>
</script>
