{% load static i18n %}
<script type="text/ng-template" id="skillSection.html">
<section class="col-md-6 tool-section-wrapper">
    <div class="panel panel-complete tool-section-content">
        <div class="app-headline-section">
            <h3 class="headline-main-app-section my-tech-headline-content"

          {% if not request.user.is_manager %}

            uib-popover="

            The core list of tech you know. Along with the tag itself
            you can also set skill level. Either you're an Apprentice,
            Journeyman or Master. One rule - be honest with yourself
            when setting proficiency levels.

            " popover-title="Show off what you can" popover-placement="right" popover-trigger="mouseenter"

            {% endif %}
            >
                <i class="fa fa-code"></i>
                My skillbox
            </h3>


              <span align="center" class="pull-right">
            <img src="{% static 'gifs/ajax-loader.gif' %}" data-ng-if="vm.initializing"/>
            </span>

            {% if not user_id %}
            <button class="add-tag-btn"
                    data-ng-click="vm.editSkills()"
                    data-ng-if="!vm.edit && !vm.initializing">Modify</button>
            <div class="pull-right" data-ng-if="vm.edit && !vm.saving">
                <button class="btn btn-xs btn-success"
                        data-ng-click="vm.saveSkills()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-xs btn-default"
                        data-ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            {% endif %}
        </div>


 <div class="tag-container-no-tag" style="display: block;"
      data-ng-if="!vm.skills.length && !vm.edit && !vm.initializing">
            <i class="fa fa-code fa-5x"></i>
            {% if not user_id %}
            <p class="no-tag-info">{% trans "You don't have anything here." %}
                <br>
                <a href="javascript:;"
                   data-ng-click="vm.editSkills()"
                   data-ng-if="!vm.edit"> Add your skills.</a>
            </p>
            {% else %}
                <p class="no-tag-info">
                    {% trans 'Empty' %}
                    <br>
                </p>
            {% endif %}
        </div>
        <div class="tools-list-section">
            <div class="tool-wrapper animated fadeIn"
                 {% verbatim %} id="skill_{{ skill.id }}" {% endverbatim %}
                 data-ng-repeat="skill in vm.skills track by skill.id">
                <span class="tool-wrapper-tech noselect"
                      data-ng-class="{'star-purple': skill.level == vm.Devinity.levels.canTeach,
                                      'star-blue': skill.level == vm.Devinity.levels.canWorkWith,
                                      'star-green': skill.level == vm.Devinity.levels.know}"

                      data-ng-click="vm.changeLevel(skill)"
                      tooltip-enable="vm.edit && !vm.saving"
                      uib-tooltip="Click to change skill level">
                   <i class="fa"
                       data-ng-class="{'fa-star': skill.level == vm.Devinity.levels.canTeach,
                                       'fa-angle-double-up bold': skill.level == vm.Devinity.levels.canWorkWith,
                                       'fa-angle-up bold': skill.level == vm.Devinity.levels.know}"></i>

                </span>
                <button type="button" class="tool-wrapper-content"
                        data-ng-bind="::skill.tag.name"
                        data-ng-click="vm.showInfo(skill)"></button>

                <span class="tool-wrapper-user noselect">

                       <i data-ng-if="!vm.edit"></i><i data-ng-if="!vm.edit" class="fa fa-wrench text-silver">&nbsp</i>
                    <span data-ng-bind="::skill.count"
                                                        data-ng-if="!vm.edit"></span>

                    <button class="button btn-default" style="border:0px; background:inherit;" data-ng-if="vm.edit" data-ng-click="vm.remove(skill)">
                    <i class="fa fa-close">
                       </i>
                    </button>
                </span>


            </div>
            <span data-ng-if="vm.saving">
                <img height="5" width="15" src="{% static 'gifs/ajax-loader.gif' %}">
            </span>


        {% if not user_id %}
        <br data-ng-if="vm.edit && !vm.saving">

             <div id="add-skill-box" class="col-md-12 company-stat-box m-t-15 active padding-20 bg-master-light"
                  data-ng-if="vm.new && vm.edit && !vm.saving">


                <div class="col-md-6 no-padding-right">
                    <label><i class="fa fa-circle text-success fs-11"/> ADD NEW SKILL&nbsp<img height="5" width="15" src="{% static 'gifs/ajax-loader.gif' %}" data-ng-show="vm.searching"></label>
                    <ui-select ng-model="vm.newAdded"
                               theme="bootstrap">
                        <ui-select-match placeholder="Start typing...">
                            {% verbatim %}{{ $select.selected.name }}{% endverbatim %}
                        </ui-select-match>
                        <ui-select-choices repeat="skill in vm.choices"
                                           refresh="vm.getChoices($select.search)"
                                           refreah-delay="0">
                            <div data-ng-bind-html="skill.name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-6 no-padding-right" data-ng-if="vm.newAdded">
                    <label><i class="fa fa-circle text-success fs-11"/> RANK YOUR LEVEL</label>
                    <select class="form-control"
                            data-ng-if="vm.newAdded.id"
                            data-ng-model="vm.newAdded.level"
                            data-ng-change="vm.log()"
                            ng-keyup="vm.updateLevel($event)"
                            set-focus
                            on-enter="vm.saveNew()"
                            data-ng-options="option.level as option.label for option in vm.levels"></select>
                </div>
                <div class="col-md-12 no-padding-right" data-ng-if="vm.noChoices && !vm.searching">
                    <br>
                    <div class="pulsetext" ><i class="fa fa-frown-o"></i>{% trans ' OOPS. NO MAPPING FOUND.' %}</div>
                </div>
                <div class="col-md-12 no-padding-right" data-ng-if="vm.newAdded">
                    <br>
                    <div class="pulsetext pull-right">
                        <button class="btn btn-xs btn-info" data-ng-click="vm.saveNew()"> Add! </button>
                        </div>
                        <br/>
                    <div class="pulsetext pull-right"> <i class="fa fa-keyboard-o"></i>{% trans ' OR PRESS ENTER TO SAVE' %}</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>
</section>
</script>
