/* line 5, ../../sass/modules/lock_screen.scss */
.lock-container { margin-left: auto; margin-right: auto; width: 48%; }

/* line 12, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .credentials { margin-top: -84px; position: absolute; top: 50%; }
/* line 16, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .credentials .thumbnail-wrapper { width: 53px; height: 53px; }
/* line 20, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .credentials .logged { opacity: .21; margin-top: -5px !important; }
/* line 24, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .credentials .name { opacity: .69; margin-top: -5px !important; font-size: 36px; height: 45px; overflow: hidden; }
/* line 33, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .terms-wrapper > div { display: table; }
/* line 36, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .terms-wrapper .terms { display: table-cell; vertical-align: middle; }
/* line 40, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .terms-wrapper .logo-terms { width: 60px; height: 60px; border-radius: 15px; text-align: center; position: relative; }
/* line 46, ../../sass/modules/lock_screen.scss */
.lock-screen-wrapper .terms-wrapper .logo-terms .brand { left: 50%; margin-left: -21px; margin-top: -5px; position: absolute; top: 50%; }

@media (max-width: 767px) { /* line 64, ../../sass/modules/lock_screen.scss */
  .lock-screen-wrapper .credentials form { margin-top: 15px; } }
@media (max-width: 480px) { /* line 74, ../../sass/modules/lock_screen.scss */
  .lock-screen-wrapper .credentials { margin: 0; position: static; margin-top: 100px; width: 100%; float: left; clear: both; }
  /* line 81, ../../sass/modules/lock_screen.scss */
  .lock-screen-wrapper .credentials > div { text-align: center; }
  /* line 84, ../../sass/modules/lock_screen.scss */
  .lock-screen-wrapper .credentials .thumbnail-wrapper { float: none; margin: 0 auto; } }
