/*
Error: Undefined variable: "$color-primary".
        on line 7 of /Users/daniel/devinity/static/sass/modules/login.scss

2: // Login screen
3: // --------------------------------------------------
4: 
5: .login-wrapper{
6: 	height: 100%;
7: 	background-color: $color-primary;
8: 	& > * {
9: 		height: 100%;
10: 	}
11: 	.bg-pic{
12: 		position: absolute;

Backtrace:
/Users/daniel/devinity/static/sass/modules/login.scss:7
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-primary\".\A         on line 7 of /Users/daniel/devinity/static/sass/modules/login.scss\A \A 2: // Login screen\A 3: // --------------------------------------------------\A 4: \A 5: .login-wrapper{\A 6: 	height: 100%;\A 7: 	background-color: $color-primary;\A 8: 	& > * {\A 9: 		height: 100%;\A 10: 	}\A 11: 	.bg-pic{\A 12: 		position: absolute;"; }
