/*
Error: Undefined variable: "$color-master-light".
        on line 17 of /Users/daniel/devinity/static/sass/modules/tables.scss

12:                 font-family:'Montserrat';
13:                 font-size: 13px;
14:                 padding-top: 14px;
15:                 padding-bottom: 14px;
16:                 vertical-align: middle;
17:                 border-bottom: 1px solid fade($color-master-light, 70%);
18:                 color:fade($color-master-dark, 35%);
19:                 &[class*='sorting_'] {
20:                     color:$color-master-dark;
21:                 }
22:                 &:first-child {

Backtrace:
/Users/daniel/devinity/static/sass/modules/tables.scss:17
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-master-light\".\A         on line 17 of /Users/daniel/devinity/static/sass/modules/tables.scss\A \A 12:                 font-family:'Montserrat';\A 13:                 font-size: 13px;\A 14:                 padding-top: 14px;\A 15:                 padding-bottom: 14px;\A 16:                 vertical-align: middle;\A 17:                 border-bottom: 1px solid fade($color-master-light, 70%);\A 18:                 color:fade($color-master-dark, 35%);\A 19:                 &[class*='sorting_'] {\A 20:                     color:$color-master-dark;\A 21:                 }\A 22:                 &:first-child {"; }
