<div>
    <i data-ng-class="{'fa fa-warning': data.category == 3,
                       'fa fa-info-circle': data.category == 2,
                       'fa fa-exclamation-circle': data.category == 1}"></i>
    {{ $getDisplayText() }} <span><a data-ng-click="$removeTag()">&#10006;</a></span>
</div>
