<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
        <label for="flagsSelect">Flags</label>
        <select multiple id="flagsSelect" class="form-control"></select>
        </div>
    </div>
</div>