<button type="button" class="close" data-ng-click="vm.closeModal()">
    <i class="pg-close fs-14"></i>
</button>
<div class="container-xs-height">
    <div class="view-port clearfix">
        <div class="view bg-white">
            <div class="navbar navbar-default navbar-sm">
                <div class="navbar-inner">
                    <a href="javascript:;" class="inline action p-l-10 link text-master">
                        <i class="pg-more"></i>
                    </a>
                    <div class="view-heading" data-ng-bind="::vm.modalTitle"></div>
                    <a href="javascript:;" class="inlinr action p-r-10 pull-right link text-master"></a>
                </div>
            </div>


            <div class="col-xs-12">


                <h2 class="list-view-header sidebar-list-view-headline">
                    <i class="fa" data-ng-class="{'fa-flag text-silver': vm.modalType == 3, 'fa-cog text-silver': vm.modalType != 3}"></i> <span class="text-capitalize" data-ng-bind="::vm.description.title"></span>
                    <div class="so-disclaimer text-info pull-right" data-ng-if="vm.modalType != 3">
                        <span><a href="http://www.stackoverflow.com/tags"><img height="30" width="110" src="/static/img/icons/stackoverflow.png"/></a></span>
                    </div>
                </h2>
                <p class="modal-tag-description-text"
                   data-ng-if="vm.description.text"
                   data-ng-bind="::vm.description.text"></p>
                <p class="modal-tag-description-text"
                   data-ng-if="!vm.description.text">No description available</p>
            </div>

        </div>
    </div>
    <!-- EXPERIMENT -->

    <div class="col-xs-12">
        <div class="list-view-header">
            <div class="peer-matching-container app-headline-section m-b-20">
                <h3 class="headline-main-app-section">
                   
                    <span data-ng-bind="::vm.userListTitle"></span> <img height="5" width="15" data-ng-if="vm.loadingUsers" src="/static/gifs/ajax-loader.gif">
                </h3>
            </div>
        </div>
    </div>

    <!--</ul>-->
    <div class="col-md-12 no-padding">
        <div class="panel skill-users" style="overflow-y: scroll;"
             infinity-scroll height="vm.getHeight()" on-end="vm.scrollEnded()">
            <ul class="matches-list-section">
                <li class="panel-body peer-match-button-row"
                    data-ng-repeat="user in vm.users"
                    data-ng-click="vm.goTo(user.url)">
                    <div class="peer-match-profile-section col-md-11" >
                        <img width="50" height="50" 
                             src="{{ user.avatar }}"
                             data-src-retina="{{ user.avatar }}" alt="">
                        <div class="peer-info">
                            <h5 class="peer-match-name m-l-10 m-b-5 text-left" data-ng-bind="user.name"></h5>
                            <span class="peer-match-position" data-ng-bind="user.position"></span>
                            <!--<p class=" text-left m-b-0 m-t-0">-->
                            <!--<i class="pg pg-bag1"></i>-->
                            <!--Frontend Developer-->
                            <!--</p>-->
                        </div>
                    </div>
                    <div class="peer-match-profile-section-details col-md-1">
                    <!--    <h5 class="inline p-l-20 text-gray">
                            <i class="m-l-5 fa fa-book text-success"/>
                            <i class="m-l-5 fa fa-heart text-danger"/>
                            <i class="m-l-5 fa fa-star text-info"/>
                            <i class="m-l-5 fa fa-star-half text-info"/>
                            <i class="m-l-5 fa fa-star-o text-info"/>

                        </h5> -->

                        <!--<p>Can help you with <b>AngularJS</b></p>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
<script></script>
