<div class="col-md-6 skill-ranking">
    <div class="skill-ranking-content">
        <h3 class="skill-ranking-content-headline"><i class="fa fa-wrench text-silver"></i> Most popular tech</h3>
        <ul class="skill-ranking-list" data-ng-if="!vm.init">
            <li class="skill-ranking-list-content"
                data-ng-repeat="rank in vm.ranking" style="cursor: pointer;"
                    data-ng-click="vm.showInfo(rank)">
                <span class="skill-ranking-list-caption-cog pull-left">
                    <i class="fa fa-cog">&nbsp</i>
                </span>
                <span class="skill-ranking-list-caption pull-left" data-ng-bind="rank.tag.name"></span>
                <div class="progressbar-container">
                    
                    <div class="skill-progressbar-valx"
                         data-ng-style="{width: vm.getPercent(rank) + '%'}">
                   <i class="fa fa-user"></i>
                   
                         
                    
                    <span data-ng-bind="rank.count"></span>
                        </div>
                </div>
            </li>
        </ul>
        <div align="center" data-ng-if="vm.init">
            <img src="/static/gifs/ajax-loader.gif">
        </div>
    </div>
</div>
