<div class="col-md-6 want-learn-ranking">
    <div class="want-learn-ranking-content">
        <h3 class="want-learn-ranking-content-headline"><i class="fa fa-book text-silver"></i> Top learning goals</h3>
        <ul class="learn-ranking-list" data-ng-if="!vm.init">
            <li class="learn-ranking-list-content" style="cursor: pointer"
                data-ng-click="vm.showInfo(stuff)"
                data-ng-repeat="stuff in vm.ranking">
                
                <span class="learn-ranking-list-caption-cog pull-left">
                    <i class="fa fa-cog">&nbsp</i>
                </span>
                <span class="learn-ranking-list-caption pull-left" data-ng-bind="stuff.tag.name"></span>
                <div class="progressbar-container">
                    <div class="learn-progressbar-valx" data-ng-style="{width: vm.getPercent(stuff) + '%'}">
                    
                    <i class="fa fa-user"></i>
                    <span data-ng-bind="stuff.count"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div align="center" data-ng-if="vm.init">
            <img src="/static/gifs/ajax-loader.gif">
        </div>
    </div>
</div>

