.dashboard-app-container {
    margin-bottom: 40px;
}

.flag-ranking {
    background: #ffffff;
    margin-right:35px;
}

.flag-ranking-content {
    background: #ffffff;
    padding: 20px 15px;
    text-align: center;
    width: 100%;
}

.skill-ranking-content-headline, .want-learn-ranking-content-headline, .flag-ranking-content-headline {
    padding-left: 15px;
}


/*Flag ranking section*/

.fr-flag-stats-container {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}


.flag-stats-content .negative-dashboard {
    background: #cb4330;
}

.flag-stats-content .positive-dashboard {
    background: #72aadc;
}

.flag-stats-content .opportunity-dashboard {
    background: #f1c246;
}

/*technology stats*/

.skill-ranking-content-headline, .flag-ranking-content-headline, .want-learn-ranking-content-headline {
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    font-size: 21px;
}

.fr-flag-stats-user {
    font-size: 35px;
}

.flag-ranking-content-headline {
    text-align: left;
}

.skill-ranking-list, .learn-ranking-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.learn-ranking-list-caption {
    text-align:left;
}

.learn-ranking-list-caption-cog {
    color: #009A87;
}

.progressbar-section .skill-ranking, .number-of-employees, .number-of-technology-skill, .want-learn-ranking {
    padding-left: 0;
}

.progressbar-container {
    background-color: #364752;
    border-radius: 10px;
    display: inline-block;
    height: 25px;
    width: 100%;
}

.skill-progressbar-valx {
    color: #ffffff;
    background: #e74c3c;
    height: inherit;
    border-radius: 10px;
}

.skill-progressbar-valx:hover {
    background: #c0392b;    
}

.learn-progressbar-valx {
    color: #ffffff;
    background: #19b698;
    height: inherit;
    border-radius: 10px;
}

.learn-progressbar-valx:hover {
    background: #009A87;
}

.value-x-a {
    width: 75%;
}

.value-x-b {
    width: 45%;
}

.value-x-c {
    width: 34%;
}

.skill-ranking-list-caption {
    text-align:left;
    text-transform: capitalize;
}

.skill-ranking-list-caption-cog {
    text-align:left;
    color:#f55753;
}
.skill-ranking-list-content, .learn-ranking-list-content {
    margin: 25px 0;
}

.learn-progressbar {
    width: 90%;
    height: 25px;
    display: inline-block;
}

.flag-stats-progressbar {
    background-color: #364752;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    text-align: right;
    vertical-align: top;
}

.fr-opportunity {
    background: #72aadc;
}

.fr-information {
    background: #f1c246;
}

.fr-warning {
    background: #cb4330;
}

.fr-flag-stats-header {
    color: #ffffff;
    padding: 40px 40px 60px 40px;
    text-align: center;
}

.fr-flag-stats-headline {
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fr-flag-stats-quantity {
    font-size: 35px;
    font-weight: 100;
}

.fr-flag-stats-content {
    font-size: 15px;
    margin-top: -20px;
    text-align: left;
    padding: 12px 0px;
}

.fr-flag-stats-content-list {
    font-size: 13px;
    padding: 0px 15px;
    list-style: none;
}

.fr-starts-opportunity {
    background-color: #d1e4f4;
}

.fr-starts-information {
    background-color: #fff3cf;
}

.fr-starts-warning {
    background-color: #f3cece;
}

.fr-flag-stats-list-item {
    margin-bottom: 8px;
    padding-left: 0px;
}

.fr-starts-opportunity ul li {
    border-bottom: 1px solid #72aadc;
}

.fr-starts-opportunity ul li:hover {
    color:#000;
}

.fr-starts-information ul li {
    border-bottom: 1px solid #f1c246;
}

.fr-starts-information ul li:hover {
    color:#000;
}

.fr-starts-warning ul li {
    border-bottom: 1px solid #cb4330;
}

.fr-starts-warning ul li:hover {
    color:#000;
}

.fr-flag-desc {
    display: inline-block;
}

.fr-stats-detailed-info {
    float: right;
}

.fr-stats-detailed-info-user {
  
    float: right;
    padding-right:2px;
}

.dashboard-app-container .flag-stats-section .flag-stats-section-content {
    padding-left: 0;

}

.number-of-employees, .skill-ranking, .number-of-technology-skill, .want-learn-ranking {
    display: inline-block;
    width: 49%;
}


/*Media Queries*/

@media all and (max-width: 900px) {
    .fr-flag-stats-container {
        width: 100%;
    }
}