.search-inputs-section h3 {
    margin-bottom: 0px;
}

.search-inputs-container {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.search-results-container {
    display: inline-block;
    width: 59%;
    vertical-align: top;
}

.search-results-section {
    background: #ffffff;
    padding: 20px 15px;
}


.search-inputs-section, .search-results-section {
    background: #ffffff;
    padding: 20px 15px 40px 15px;
}

.search-headline {
    font-size: 16px;
}

.search-inputs-section-technology, .search-inputs-section-learn, .search-inputs-section-flags {
    background: #f0eeee;
    min-height: 60px;
    position: relative;
}

.search-inputs-section-technology:before {
    background: #364752;
    content: '';
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.search-inputs-section-learn:before {
    background: #00A9A5;
    content: '';
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.search-inputs-section-flags:before {
    background: #f1c246;
    content: '';
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.search-result-headline {
    font-size: 16px;
    display: inline-block;
}

.search-result-number-found {
    display: inline-block;
    float: right;
    font-size: 15px;
    margin-top: 18px;
}

.search-input-button-section {
    cursor: pointer;
    text-align: right;
}

.search-input-button {
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 2px;
    color: #cacaca;
    padding: 5px 20px;
    margin-top: 45px;
}

.search-tech-inputs-wrapper {
    background: #f0eeee;
    border: none;
    color: #626262;
    margin: 20px 20px 20px 5px;
    padding: 2px 5px;
}

.search-results-section-header {
    border-bottom: 7px solid rgba(230, 230, 230, 0.7);
}

.search-results-list {
    padding: 0;
    list-style: none;
}

.search-results-list .results-list-item {
    margin: 35px 0;
    cursor: pointer;
}

.results-list-item-avatar, .results-list-item-name, .results-list-item-percentages, .results-list-item-tags {
    display: inline-block;
}

.results-list-item-name {
    margin-left: 3px;
    width: 26%;
    vertical-align: super;
}

.results-list-item-percentages {
    font-size: 27px;
    width: 14%;
    vertical-align: top;
}

.tags-result-list {
    font-size: 15px;
    padding: 0;
    list-style: none;
}


.results-list-item-avatar {
    background: rgba(230, 230, 230, 0.7);
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.results-list-item-avatar {
    vertical-align: top;
}

.results-list-item-position {
    font-size: 13px;
}

.results-list-item-name-wrapper {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.search-inputs-tech-tag {
    background: #364752;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 20px;
}

.search-inputs-learn-tag {
    background: #00A9A5;
    color: #ffffff;
    font-size: 15px;
    padding: 3px 12px;
}

.search-inputs-flag-tag {
    background: #f1c246;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 5px;
    display: inline-block;
    position: relative;
}

.search-inputs-flag-tag-result {
    background: #f1c246;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 5px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}

.search-inputs-section-wrapper {
    line-height: 60px;
    padding: 10px;
}

.search-inputs-section-wrapper-flag {
    padding: 25px 10px;
}

.search-inputs-section-wrapper-flag select {
    vertical-align: super;
}

.results-list-item-tags {
    text-align: center;
    vertical-align: top;
    width: 17%;
}

.results-list-item-flags {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 28%;
}

.results-list-item-flags .search-inputs-flag-tag {
    text-align: left;
}

.technology-skill {
    background: #364752;
    color: #ffffff;
    font-size: 12px
}

.tags-result-list li {
    margin-bottom: 4px;
}

.results-list-item {
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding-bottom: 15px;

}

.results-list-item:last-child {
    border-bottom: none;

}

.technology-learn {
    background: #00A9A5;
    color: #ffffff;
    font-size: 12px
}





@media all and (max-width: 1200px) {
    .search-results-container, .search-inputs-container {
        width: 100%;
    }
    .search-inputs-container {
        margin-bottom: 20px;
    }
}