/*
Error: File to import not found or unreadable: var.less.
       Load paths:
         Compass::SpriteImporter
         /Users/daniel/devinity/static/sass
         /Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets
         /Users/daniel/.rvm/gems/ruby-2.2.0@global/gems/compass-960-plugin-0.10.4/stylesheets
        on line 7 of /Users/daniel/devinity/static/sass/themes/simple/theme.scss

2: // --------------------------------------------------
3: // Copyright Reserved Revox - 2014
4: // --------------------------------------------------
5: 
6: // Import Vars
7: @import  "var.less";
8: 
9: //Theme Overwrite
10: 
11: .page-sidebar .sidebar-header{
12: 	background-color: $color-success;

Backtrace:
/Users/daniel/devinity/static/sass/themes/simple/theme.scss:7
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:45:in `import'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: var.less.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/daniel/devinity/static/sass\A          /Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets\A          /Users/daniel/.rvm/gems/ruby-2.2.0@global/gems/compass-960-plugin-0.10.4/stylesheets\A         on line 7 of /Users/daniel/devinity/static/sass/themes/simple/theme.scss\A \A 2: // --------------------------------------------------\A 3: // Copyright Reserved Revox - 2014\A 4: // --------------------------------------------------\A 5: \A 6: // Import Vars\A 7: @import  \"var.less\";\A 8: \A 9: //Theme Overwrite\A 10: \A 11: .page-sidebar .sidebar-header{\A 12: 	background-color: $color-success;"; }
