{% extends 'base.html' %}
{% load static %}
{% block title %}Manager's dashboard{% endblock %}

{% block body_block %}



    <section class="container-fluid sm-p-l-20 sm-p-r-20 m-t-20">

        <h2 class="text-silver"> {{ user.organization }} - Manager's Dashboard</h2>
        <div class="col-md-12">
        </div>
        <div class="col-md-6 number-of-employees">
            <div class="brief-stats-section developers-number">
                <span class="brief-stats-section-content"><i class="fa fa-user"></i> {{ mapped_developers_count }}</span>

                <p class="brief-stats-section-desc">Developers on Devinity</p>
            </div>
        </div>


        <div class="col-md-6 number-of-technology-skill">
            <div class="brief-stats-section technology-number">
                <span class="brief-stats-section-content"><i class="fa fa-cog"></i> {{ mapped_technologies_count }}</span>

                <p class="brief-stats-section-desc">Unique tags</p>
            </div>
        </div>


    </section>


    <section class="container-fluid sm-p-l-20 sm-p-r-20 progressbar-section">
        <dev-skill-ranking
                data-user-count="{{ mapped_developers_count }}"></dev-skill-ranking>
        <dev-want-stuff-ranking
                data-user-count="{{ mapped_developers_count }}"></dev-want-stuff-ranking>
    </section>

    <section class="container-fluid sm-p-l-20 sm-p-r-20 flag-stats-section">
        <div class="flag-ranking" data-ng-controller="FlagRankingCtrl as vm">
            <div class="flag-ranking-content">

                <h3 class="flag-ranking-content-headline"><i class="fa fa-flag text-silver"></i> Health Flags</h3>

                <div class="fr-flag-stats-container">

                    <header class="fr-flag-stats-header fr-opportunity">
                        <h3 class="fr-flag-stats-headline">Wants</h3>
                        <span class="fr-flag-stats-user"> <i class="fa fa-user"></i></span>
                        <span class="fr-flag-stats-quantity"
                              data-ng-bind="vm.countOpportunityFlags()"></span>
                    </header>
                    <div class="fr-flag-stats-content fr-starts-opportunity">
                        <ul class="fr-flag-stats-content-list"
                            data-ng-if="!vm.initializing">
                            <li class="fr-flag-stats-list-item"
                                style="cursor: pointer"
                                data-ng-repeat="flag in vm.flags.opportunity"
                                data-ng-click="vm.showInfo(flag)">
                                <p class="fr-flag-desc"
                                   data-ng-bind="flag.name"></p>
                                <span class="fr-stats-detailed-info"
                                      data-ng-bind="flag.count"></span>
                                       <span class="fr-stats-detailed-info-user"><i class="fa fa-user"></i></span>
                            </li>
                        </ul>
                        <div align="center" data-ng-if="vm.initializing">
                            <img src="{% static 'gifs/ajax-loader.gif' %}">
                        </div>
                    </div>
                </div>

                <div class="fr-flag-stats-container">
                    <header class="fr-flag-stats-header fr-information">
                        <h3 class="fr-flag-stats-headline">Needs</h3>
                         <span class="fr-flag-stats-user"> <i class="fa fa-user"></i></span>
                        <span class="fr-flag-stats-quantity"
                              data-ng-bind="vm.countInformationFlags()"></span>
                    </header>
                    <div class="fr-flag-stats-content fr-starts-information">
                        <ul class="fr-flag-stats-content-list"
                            data-ng-if="!vm.initializing">
                            <li class="fr-flag-stats-list-item"
                                style="cursor: pointer;"
                                data-ng-repeat="flag in vm.flags.information"
                                data-ng-click="vm.showInfo(flag)">
                                <p class="fr-flag-desc"
                                   data-ng-bind="flag.name"></p>
                                <span class="fr-stats-detailed-info"
                                      data-ng-bind="flag.count"></span>
                                       <span class="fr-stats-detailed-info-user"><i class="fa fa-user"></i></span>
                            </li>
                        </ul>
                        <div align="center" data-ng-if="vm.initializing">
                            <img src="{% static 'gifs/ajax-loader.gif' %}">
                        </div>
                    </div>
                </div>

                <div class="fr-flag-stats-container">
                    <header
                            class="fr-flag-stats-header fr-warning"
                            data-target="#modalSlideLeft"
                            data-toggle="modal">
                        <h3 class="fr-flag-stats-headline">Alerts</h3>
                         <span class="fr-flag-stats-user"> <i class="fa fa-user"></i></span>
                        <span class="fr-flag-stats-quantity"
                              data-ng-bind="vm.countWarningFlags()"></span>
                    </header>
                    <div class="fr-flag-stats-content fr-starts-warning">
                        <ul class="fr-flag-stats-content-list"
                            data-ng-if="!vm.initializing">
                            <li class="fr-flag-stats-list-item"
                                style="cursor: pointer;"
                                data-ng-repeat="flag in vm.flags.warning"
                                data-ng-click="vm.showInfo(flag)">
                                <p class="fr-flag-desc"
                                   data-ng-bind="flag.name"></p>
                                  
                                <span class="fr-stats-detailed-info" data-ng-bind="flag.count"></span>
                                
                                 <span class="fr-stats-detailed-info-user"><i class="fa fa-user"></i></span>
                            </li>
                        </ul>
                        <div align="center" data-ng-if="vm.initializing">
                            <img src="{% static 'gifs/ajax-loader.gif' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>




{% endblock body_block %}
