{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Fill your database{% endblock %}


{% block body_block %}

<!--<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>-->

<!--<form action="/input_tag/" method="get">-->
        <!--<input type="text" name="input">-->
        <!--<input type="submit" value="Search">-->
        <!--<script  type="text/javascript">-->
                <!--$("#input").select2({dropdownCssClass: 'dropdown-inverse'});-->
                <!--jQuery.post(-->
                <!--"skrypt.php", {"klucz": "wartość", "a": 13}, function(json) {alert('Dane otrzymane: '+json.klucz+', '+json.a);}, "json");-->
        <!--</script>-->
<!--</form>-->

<div>
    <h2>Search</h2>
</div>
        <dev-search-section></dev-search-section>
    </section>


</div>
{% endblock body_block %}
