{% extends 'base.html' %} 
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="row">
<dev-profile-section></dev-profile-section>

{% if request.user.is_manager %}
<dev-flag-section></dev-flag-section>

{% else%}

<div class="row">
</div>

{% endif %}

<div class="row return-margins">
<dev-love-stuff-section></dev-love-stuff-section>
<dev-wanted-stuff-section></dev-wanted-stuff-section>
<dev-skill-section></dev-skill-section>
<dev-peer-matching-section></dev-peer-matching-section>
</div> 

{% endblock body_block %}

{% block scripts %}
    <script>
        (function () {
            window.localStorage.setItem('userId', {{ user_id|default:0 }})
        })()
    </script>
{% endblock %}
