{% extends 'base.html' %} 
{% load staticfiles %}

{% block title %}Users{% endblock %}

{% block body_block %}

<h1>User List</h1>

{% for user in user_list %}



{% url 'show-user-profile' user.id as userproflink %}

<h3><a href="{{ userproflink }}"> {{ user.name }} </a></h3>
<p>{{ user.organization }} <br> {{ user.location }} {{ user.country }} <br>{{ user.email }} </p>
{% endfor %}
{% endblock body_block %}